<!-- <div style="position: absolute; height: 300px; width: 300px">
  <div id="frugalmap">
 
  </div>
</div> -->
 
<!-- <div id="mapContainer">

  <div id="mapOptions" class="tabbable-panel tab-right">
      <div class="tab"><a href="#" onclick="$('#mapContainer').toggleClass('options-open');window.setTimeout(function(){window.map.invalidateSize();}, 600)">Map Options</a></div>
      <div class="content">
          <h2 class="content-title">Title</h2>
          <p>Text blah blah</p>
      </div>
  </div>

  <div id="map-containerDiv" class="tabbable-target">
      <div id="map"></div>
  </div>
  
</div> -->

<div class="map-container">
  <div class="map-frame">
    <div id="frugalmap">
 
    </div>
  </div>
</div>