
<div class="backUser">

 <div class="containerDash">

    
     <div class = "dashUnit">
        <span class = "title">user</span>
         <div class ="userImg">             
           <img style="height: 150px;" src={{user?.avatarUrl}}> 
         </div> 
        <div>
          <h2 style="text-align: center;">{{user?.name}}</h2>
          <h5 class="emailText" style="text-align: center;">{{user?.email}}</h5> 
        </div>
        <div>
          <div class="packIconDash" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
            <a  style="color: inherit;cursor: pointer;"><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="ModalSend(client)">settings_applications </mat-icon></a>
            <mat-icon aria-hidden="false" aria-label="Example home icon">images</mat-icon>
          </div> 
        </div>
     </div>
   

  
      <div class = "dashUnit">
          <span class = "title">Mail</span>
          <div>
            <div class="countMail">
              <span class="fontCountMail"   [countUp]="newNum" [reanimateOnClick]="false"
              [options]="option">
              </span>
            </div>
          </div> 
          <div>
            <div class="contTextMail">
              <span class="nameMail" >Mails
              </span>
            </div> 
          </div>
      </div>

         <div class = "dashUnit">
        <span class = "title">Map</span>
          <app-map></app-map>  
   
        </div>
      

    
          <div class = "dashUnitSmall">
            <span class = "title"> Date time</span>
            <h5 style="text-align: center;margin-top:35px">{{date}}</h5>    
          </div>

          <div class = "dashUnitSmall">
            <span style="float: left; height: 10px;margin-top: 0px;" class = "title"> weather</span>
            <div style="float: left;margin-top: 2px;"> <img src={{weather?.current_condition?.icon_big}}  style="height: 100px;" alt=""> </div>
            <div class='textWeatherDash' >            
              <h1> {{weather?.current_condition?.tmp}} °</h1>             
              <h6 >{{weather?.current_condition?.condition}}</h6>
            </div>
     
        </div>
   

   
        <div class = "dashUnitBig">
        <span class = "title"> My portfolio</span>

        <div style="margin: 5px;margin-right: 10%;margin-left: 10%;">
             <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                      <label for="avatar">File</label>
                      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Title" formControlName="name" [(ngModel)]="name">
                  <label for="content">Content</label>
                  <input type="text" class="form-control" id="content" placeholder="Content" formControlName="content" [(ngModel)]="content">
                </div>
              
                <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
              </form> 
        </div>     
        </div>
      
   
     
         <div class = "dashUnit">
          <span class = "title"> title</span>    
         </div>
            
        <div class = "dashUnit">
          <span class = "title"> title</span>    
        </div>
               
        <div class = "dashUnit">
          <span class = "title"> title</span>       
        </div>
      

   </div>
</div>



 
