<div  class= "backSign"  >
  
    <div class="container block" >
      <!-- <h1 style="text-align:center; margin:10%">Welcome User</h1> -->
      <div class="card ">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" >
              <a class="nav-link" routerLinkActive='active' routerLink='/login'>Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLinkActive='active' routerLink='/signup'>Registration</a>
            </li>  
          </ul>
      </div>
      <div style="padding:5%">
        <router-outlet></router-outlet>
      </div>
     
    </div>

    
  </div>



</div>
