<div class="backUser">
  <div class="container" style ="margin-top: 10%">
      <h1 style="text-align:center">My galery </h1>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
          <label for="avatar">File</label>
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Title" formControlName="name">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content" placeholder="Content" formControlName="content">
    </div>
  
    <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
  </form>

  </div>
  <div style="height: 150px"></div>
   <div class="containerCard">



      <div class="flip-card" *ngFor="let image of images.slice().reverse() ">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="header-front-card" > </div>
              <img src="../../assets/icons/draw.png" class="iconCard" alt="Avatar" style="">
               <div  class="divTxtName" style="margin-top:0px">
                <img src={{image.url}}  
                style="object-fit: cover;
                object-position: 10% 10%;
                width: 298px;
                height: 318px;">
                
                  
                  <!-- <h2 style="color: blanchedalmond">{{image.titre}}</h2>  -->
                  <!-- <h3 style="color: blanchedalmond">{{client.enterprise}}</h3>  -->
                </div>
            </div>
           
            <div class="flip-card-back">
              <h2 style="margin-top: 10px">{{image.titre}}</h2> 
              <!-- <p class='enterprise' style="">{{client.enterprise}}</p>  -->
              <!-- <p>{{client.mail}}</p> -->
              <p class='message' style="">{{image.content}}</p>

              <div class='divButton' style="">
                  <button type="button" class="btn btn-info" style="margin:5px" (click)="ModalSend(client)">Reply</button>
                  <button type="button" class="btn btn-danger" (click)="delImage(image.id)" style="margin:5px">Delete</button>
              </div>
            </div>
          </div>
        </div>

  </div> 
  
</div>
