<div class="backUser" >
  
  <div style="height: 150px"></div>
   <div class="containerCard">



      <div class="flip-card" *ngFor="let client of clients.slice().reverse() ">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="header-front-card" > </div>
              <img src="../../assets/icons/letter.png" class="iconCard" alt="Avatar" style="">
               <div  class="divTxtName" style="">
                  
                  <h2 style="color: blanchedalmond">{{client.forname}} {{client.name}}</h2> 
                  <h3 style="color: blanchedalmond">{{client.enterprise}}</h3> 
                </div>
            </div>
           
            <div class="flip-card-back">
              <h2 style="margin-top: 10px">{{client.forname}} {{client.name}}</h2> 
              <p class='enterprise' style="">{{client.enterprise}}</p> 
              <p>{{client.mail}}</p>
              <p class='message' style="">{{client.text}}</p>

              <div class='divButton' style="">
                  <button type="button" class="btn btn-info" style="margin:5px" (click)="ModalSend(client)">Reply</button>
                  <button type="button" class="btn btn-danger" (click)="delCard(client.id)" style="margin:5px">Delete</button>
              </div>
            </div>
          </div>
        </div>

</div> 
</div>
