
<div style="height:50px;background-color: black;"></div>
<div> 
  <div [@listStagger]='images.length' style="margin-top:0.05%;width:100%;background-color:#e5e2e2;position: relative; ">
    <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5"  (window:resize)="onResize($event)">
        <mat-grid-tile
            *ngFor="let image of images ; let i=index"
            [colspan]="image.cols"
            [rowspan]="image.rows"
            [style.background]="image.color">
            <div>
              <div style="position: absolute;left:44%;top: 50%;color: ivory;">{{image.titre}} </div>
              <img class="imagePortfolio" src={{image.url}} (click)="open(i)">
              

              
              
            </div>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>