<header  >
<div [@scrollAnimation]="state" style='height: 50px;width: 100%;background-color: black' class="fixed-top ">
</div>    
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <a class="navbar-brand" href="#"><strong>Dcgraphics.fr</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link"  routerLinkActive='active' routerLink="/">Home </a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive='active' routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive='active' routerLink="/portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink="/contact">Contact</a>
            </li>
           
                    
          </ul>
        
          
          <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook"></i></a></li>
			    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
			    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus"></i></a></li>
			    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest-p"></i></a></li>
                <li class="nav-item dropdown" *ngIf="isLogged | async as isLoggedIn">
                        <a class="nav-link dropdown-toggle" routerLinkActive='active' data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"*ngIf="isLoggedIn==true">My profile</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Dashboard</a>
                          <a class="dropdown-item" href="#">MailBox</a>
                          <a class="dropdown-item" href="#">My gallery</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Logout</a>
                        </div>
                      </li>
                <li class="nav-item " *ngIf="isLogged | async as isLoggedIn">
                        <a (click)="Logout()" class="nav-link" routerLink="/login" *ngIf="isLoggedIn==true">Logout</a>
                </li>
            </ul>
      </div>
  </nav>


  

</header>

